@page "/Edit/{Id:int}"
<h3 class="Centerize">ویرایش اطلاعات</h3>

<EditForm OnValidSubmit="EditProduct" Model="Product">
  <DataAnnotationsValidator/>
  
  <div class="row">
    <div class="col">
      <InputText class="form-control" placeholder="نام محصول" @bind-Value="Product.Name"/>
      @* Show Error Message *@
      <ValidationMessage For="() => Product.Name"></ValidationMessage>
    </div>
    <div class="col">
      <InputDate class="form-control" placeholder="تاریخ ایجاد" @bind-Value="Product.CreatDate"/>
    </div>
    <div class="col-7">
      <InputText class="form-control" placeholder="توضیحات" @bind-Value="Product.Description"/>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">ویرایش</button>
    </div>
  </div>

</EditForm>


